/clientServer2/nbproject/private/
/clientServer2/build/
/clientServer/nbproject/private/
/clientServer/build/
*.html
*.log
*.xml
/clientServer2/dist/
/clientServer3/nbproject/private/
/clientServer3/build/
/ClientServer/dist/
*.log*
*.jar
/ClientServer/build/